In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [4]:
df_reference = pd.read_csv("/content/drive/MyDrive/Data Science Eugene Pinsky/Stock Market/NVDA_with_labels.csv")
df_reference.head()

,Date,Year,Month,Day,Weekday,Week_Number,Year_Week,Open,High,Low,Close,Volume,Adj Close,Return,Short_MA,Long_MA,Label
0,2017-01-03 00:00:00-05:00,2017,1,3,Tuesday,1,2017-01,26.10,26.59,24.84,25.50,150199600,25.15,0.000000,25.150000,25.150000,undefined
1,2017-01-04 00:00:00-05:00,2017,1,4,Wednesday,1,2017-01,25.85,26.38,25.38,26.10,119922000,25.74,0.023331,25.445000,25.445000,undefined
2,2017-01-05 00:00:00-05:00,2017,1,5,Thursday,1,2017-01,26.13,26.45,25.26,25.43,98429600,25.09,-0.025385,25.326667,25.326667,undefined
3,2017-01-06 00:00:00-05:00,2017,1,6,Friday,1,2017-01,25.71,26.06,25.30,25.77,82285600,25.42,0.013367,25.350000,25.350000,undefined
4,2017-01-09 00:00:00-05:00,2017,1,9,Monday,2,2017-02,25.88,27.00,25.88,26.82,91624800,26.45,0.040543,25.570000,25.570000,undefined

In [ ]:
df_summary = pd.read_csv("/Volumes/GoogleDrive/My Drive/Data Science Eugene Pinsky/Stock Market/NVDA.csv")
df_summary.shape

(263, 4)

In [ ]:
#appending label column to summary data using reference data

#combining duplicate week number columns into a single unique week number column.
g = df_reference['Week_Number'].ne(df_reference['Week_Number'].shift()).cumsum() 
df_temp = df_reference.groupby(g).first()

In [ ]:
df_temp

,Date,Year,Month,Day,Weekday,Week_Number,Year_Week,Open,High,Low,Close,Volume,Adj Close,Return,Short_MA,Long_MA,Label
Week_Number,,,,,,,,,,,,,,,,,
1,2017-01-03 00:00:00-05:00,2017,1,3,Tuesday,1,2017-01,26.10,26.59,24.84,25.50,150199600,25.15,0.000000,25.150000,25.150000,undefined
2,2017-01-09 00:00:00-05:00,2017,1,9,Monday,2,2017-02,25.88,27.00,25.88,26.82,91624800,26.45,0.040543,25.570000,25.570000,undefined
3,2017-01-17 00:00:00-05:00,2017,1,17,Tuesday,3,2017-03,25.75,25.80,25.14,25.28,58061200,24.93,-0.022431,25.597000,25.597000,undefined
4,2017-01-23 00:00:00-05:00,2017,1,23,Monday,4,2017-04,25.95,26.48,25.92,26.27,36990400,25.91,0.010383,25.632143,25.632143,undefined
5,2017-01-30 00:00:00-05:00,2017,1,30,Monday,5,2017-05,27.73,27.75,26.98,27.50,49600400,27.13,-0.015657,26.127143,25.980526,undefined
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,2021-11-29 00:00:00-05:00,2021,11,29,Monday,48,2021-48,323.66,334.12,320.36,333.76,45496400,333.49,0.059455,311.394286,252.248600,red
260,2021-12-06 00:00:00-05:00,2021,12,6,Monday,49,2021-49,298.80,302.41,280.38,300.37,65893800,300.17,-0.021373,315.720714,261.865000,red
261,2021-12-13 00:00:00-05:00,2021,12,13,Monday,50,2021-50,302.49,302.94,281.16,281.61,59834400,281.42,-0.067455,313.607857,271.614600,red
262,2021-12-20 00:00:00-05:00,2021,12,20,Monday,51,2021-51,273.05,281.44,271.45,277.19,46184700,277.00,-0.002949,299.865000,279.594600,red
263,2021-12-27 00:00:00-05:00,2021,12,27,Monday,52,2021-52,296.60,310.87,296.40,309.45,40368600,309.24,0.044029,296.130714,286.593800,red

In [ ]:
df_temp = df_temp.reset_index(drop=True)
df_temp.head()

,Date,Year,Month,Day,Weekday,Week_Number,Year_Week,Open,High,Low,Close,Volume,Adj Close,Return,Short_MA,Long_MA,Label
0,2017-01-03 00:00:00-05:00,2017,1,3,Tuesday,1,2017-01,26.10,26.59,24.84,25.50,150199600,25.15,0.000000,25.150000,25.150000,undefined
1,2017-01-09 00:00:00-05:00,2017,1,9,Monday,2,2017-02,25.88,27.00,25.88,26.82,91624800,26.45,0.040543,25.570000,25.570000,undefined
2,2017-01-17 00:00:00-05:00,2017,1,17,Tuesday,3,2017-03,25.75,25.80,25.14,25.28,58061200,24.93,-0.022431,25.597000,25.597000,undefined
3,2017-01-23 00:00:00-05:00,2017,1,23,Monday,4,2017-04,25.95,26.48,25.92,26.27,36990400,25.91,0.010383,25.632143,25.632143,undefined
4,2017-01-30 00:00:00-05:00,2017,1,30,Monday,5,2017-05,27.73,27.75,26.98,27.50,49600400,27.13,-0.015657,26.127143,25.980526,undefined

In [ ]:
label_column = df_temp["Label"]

df_summary = df_summary.join(label_column)

In [ ]:
df_summary

     Year  Week_Number  mean_return  volatility      Label
0    2017            1      0.28275    2.110070  undefined
1    2017            2      0.08460    2.299927  undefined
2    2017            3      0.15750    2.164153  undefined
3    2017            4      1.45160    0.704763  undefined
4    2017            5      0.48560    2.413944  undefined
..    ...          ...          ...         ...        ...
258  2021           48     -0.44020    4.411266        red
259  2021           49     -0.23780    4.732136        red
260  2021           50     -1.49980    5.942426        red
261  2021           51      1.63275    2.256175        red
262  2021           52     -0.01300    2.970526        red

[263 rows x 5 columns]

In [ ]:
df_summary.to_csv("NVDA_mean_volatility_labels.csv",index=False)